<font size=4>**数据预处理**</font>

&emsp;&emsp;我们编写了脚本以实现数据预处理以及添加了拉普拉斯平滑的朴素贝叶斯分类器。样例数据来自word文档中的数据。与后续提供的adult数据集有所不同。脚本主要针对word文档的内容来编写。

&emsp;&emsp;这里使用了jupyter notebook来作一个demo。建议下载Anaconda，对于数据分析十分有用。

&emsp;&emsp;首先载入所需要的库。numpy是一个主要提供矩阵化和矩阵运算的库，有效提升运算速度。pandas主要为了数据读取等基本处理。preprocessing是我们自己编写的脚本，隶属于我们提供的scripts包中。其中载入后续我们需要的DataClean类。

In [1]:
import numpy as np
import pandas as pd
import re

from scripts.preprocessing import DataClean

&emsp;&emsp;载入样例数据。

In [2]:
data = pd.read_csv('SampleData.csv',encoding='gbk')
data.columns = ['Id','House','Marriage','Income','Load']
data

   Id   House Marriage        Income Load
0   1       是       单身  125K(123K,2)   No
1   2  否(是,2)       已婚  100K(100K,1)   No
2   3  否(是,2)       单身    70K(70K,2)   No
3   4  是(否,3)       已婚  120K(120K,1)   No
4   5  否(是,3)       离婚   95K(104K,1)  Yes
5   6       否       已婚    60K(60K,1)   No
6   7  是(否,2)       离婚  220K(220K,3)   No
7   8  否(是,3)       单身    85K(85K,1)  Yes
8   9       否       已婚    75K(90K,2)   No
9  10       否       单身    90K(90K,1)  Yes

&emsp;&emsp;下面使用DataClean类来处理样例数据。首先使用split方法进行采样以及划分训练集和测试集，该函数返回四个DataFrame，分别为训练集，测试集，训练集标签以及测试集标签。

In [3]:
model = DataClean()
X_train,X_test,y_train,y_test = model.split(data, K=8, split_prob=0.2)
X_train

8 rows will be selected as sample set.
------------------------------
6 rows will be selected as train set.
------------------------------

   Id   House Marriage        Income
4   5  否(是,3)       离婚   95K(104K,1)
2   3  否(是,2)       单身    70K(70K,2)
7   8  否(是,3)       单身    85K(85K,1)
0   1       是       单身  125K(123K,2)
6   7  是(否,2)       离婚  220K(220K,3)
5   6       否       已婚    60K(60K,1)

&emsp;&emsp;接下来使用DataClean类中的transform方法清洗训练集。

In [4]:
clean=model.transform(X_train)
clean

Now Start Transformation!
------------------------------

   Id House Marriage      Income
4   5     是       离婚  144.000000
2   3     是       单身   48.461538
7   8     是       单身  117.692308
0   1     是       单身   85.153846
6   7     否       离婚  101.538462
5   6     否       已婚   83.076923

&emsp;&emsp;接下来使用贝叶斯分类器来对数据集进行预测。可以直接导入数据集。方法如下。（注释里的所用的是adult中的数据集，示例中所用的依旧是上文经过了处理的样例数据）

In [6]:
from scripts.naive_bayes import NBClassifier
clf = NBClassifier()